fieldset.travel
    legend.travel__legend
      span.travel__title О путешествии
      ul.travel__list
        li.travel__item
          label(class="travel__country-label") Куда и когда хотите поехать?
            span.travel__red *
          br
          select(class="travel__country" type="text" id="country")
            option(class="placeholder" value="" disabled selected) Континент, страна или город
          br
          span.travel__error Укажите континент, страну или город
        li.travel__item
          label(class="travel__date-label") Когда?
          br
          input(class="travel__date datepicker" type="text" id="date")
          small(class="travle-error") Укажите континент, страну или город
