@import '../../sass//mixins.scss';
.travel {
  width: 100%;
  display: flex;
}
.travel__title {
  @extend %inputTitle
}
.travel__list {
  display: flex;
  margin-top: 34px;
}
.travel__item {
  margin-right: 20px;
}
.travel__country-label {
  @extend %label
}
.travel__red {
  color: red;
}
#country {
  @extend %input
}
.travel__error {
  @extend %errorText
}
.travel__date-label {
  @extend %label
}
#date {
  @extend %input
}
.travel__country {
  @extend %input;
  text-align: left;
}
.travel__country input {
  text-align: left;
}
.placeholder {
  font-family: 'MuseoSansCyrl-100';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 12px;
  color: #8C8C8C;
}
.travel__error {
  display: none;
  font-family: 'MuseoSansCyrl-300';
  font-style: normal;
  font-weight: normal;
  font-size: 1куь;
  line-height: 12px;
  color: #CB0037;
}
.travel__error-red {
  border: '1px solid #CB0037';
}
