@import '../../sass/mixins.scss';
.about {
  width: 45%;
}
.about__title {
  @extend %inputTitle
}
.about__list {
  display: flex;
  flex-direction: row;
}
.about__item {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__label {
  @extend %label;
  max-width: 91px;
}
.about__checkbox {
  display: none;
}
.about__checkbox-label {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.about__checkbox:checked + .about__checkbox-new::after{
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
.about__checkbox-new {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    position: relative;
    
}
.about__checkbox-new::after {
  content: "";
  display: block;
  background-image: url('/dist/assets/img/Vector.svg');
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}




