fieldset.about
      legend.about__legend
        span.about__title Откуда узнали о нас?
      ul.about__list
        li.about__item
          span(class="about__label") интернет
          br
          label(class="about__checkbox-label" for='internet')
            input(class="about__checkbox" type="checkbox" id="internet")
            .about__checkbox-new
        li.about__item
          span(class="about__label") рекомендовали друзья
          br
          label(class="about__checkbox-label" for="friend")
            input(class="about__checkbox" type="checkbox" id="friend")
            .about__checkbox-new
        li.about__item
          span(class="about__label") соц. сети
          br
          label(class="about__checkbox-label" for="social")
            input(class="about__checkbox" type="checkbox" id="social")
            .about__checkbox-new
        li.about__item
          span(class="about__label") уже ездил
          br
          label(class="about__checkbox-label" for="client")
            input(class="about__checkbox" type="checkbox" id="client")
            .about__checkbox-new
