section(class="tour tour-toskana")
  div(class="tour__img tour__img-toskana")
    div(class="tour__price tour__price-toskana")
      p(class="tour__value tour__value-toskana") от 118 112 Р
  p(class="tour__country tour__country-toskana") италия
  h3(class="tour__name tour__name-toskana") Под небом Тосканы
  p(class="tour__route tour__route-toskana") Сансеполькро — (Перуджа) — Ассизи — Губбио — (Сиена) — Ла Верна — Ангиари — Монтерки — Ареццо — Кортона — (Пиенца) - (Монтепульчано)
  p(class="tour__duration tour__duration-toskana") 8 дней / 7 ночей     Русский язык 27.04.19 - 04.05.19и еще 15 дат
  div(class="tour__stock tour__stock-on")
    p(class="tour__stock-value")
