-let continents= ["Южная Америка", "Северная Америка", "Арктика и Антарктика", "Африка", "Австралия и Океания", "Европа", "Россия", "Азия"]
select(class="dropdown dropdown-country" type="select" size="10")
  

