.tour__img-norway {
  background-image: url('/assets/img/norway.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.tour__route-norway {
  display: none;
}
