ul(class="sidenav tablet" id="slide-out")
  li.tablet__exit
    include ../blocks/exit/exit.pug
  li.tablet__dropdown__country
    include ../blocks/dropdown/dropdown-country/dropdown-country.pug
  li.tablet__dropdown__date
    include ../blocks/dropdown/dropdown-date/dropdown-date.pug
  li.tablet__dropdown__type
    include ../blocks/dropdown/dropdown-type/dropdown-type.pug
  li.tablet__dropdown__btn-search
    include ../blocks/button/button-search/button-search.pug
  li
    ul.tablet__list
      li.tablet__item
        a(class="tablet__elem" href="#") Путешествия
      li.tablet__item
        a(class="tablet__elem" href="#") О нас
      li.tablet__item
        a(class="tablet__elem" href="#") Отзывы
      li.tablet__item
        a(class="tablet__elem" href="#") Блог
  li
    p.tablet__phone +7 (495) 123-45-67
  li.tablet__btn-selection
    include ../blocks/button/button-selection/button-selection.pug
