.dropdown {
  background: #FFFFFF;
  border-radius: 29.5px;
}
.select-dropdown, .dropdown-trigger {
  border: none !important;
  text-align: center;
  
}
.dropdown-content, .select-dropdown {
  background: #FFFFFF;
  border-radius: 29.5px;
}
