fieldset.user
  legend.user__legend 
    span.user__title немного о вас
    ul.user__list
      li.user__item
        label(class="user__name-label") Имя 
          span.user__red *
        br
        input(class="user__name validate" type="text" name="user__name" id="name")
        small(class="user__error") Введите имя
      li.user__item
        label(class="user__phone-label") Телефон
        br
        input(class="user__phone" type="text" id="phone")
