section(class="tour tour-turkey")
  div(class="tour__img tour__img-turkey")
    div(class="tour__price tour__price-turkey")
      p(class="tour__value tour__value-turkey") от 37 302 Р
  p(class="tour__country tour__country-turkey") турция
  h3(class="tour__name tour__name-turkey") Открытие Турции
  p(class="tour__route tour__route-turkey") Стамбул — Анкара — Каппадокия — Конья — Памуккале — Эфес — Кушадасы — Пергам — Ассос — Троя — Стамбул
  p(class="tour__duration tour__duration-turkey") 8 дней / 7 ночей     Русский язык 28.04.19 - 05.05.19и еще 3 даты
  div(class="tour__stock tour__stock-off")
    p(class="tour__stock-value") Авиаперелет включен!
