section(class="tour tour-island")
  div(class="tour__img tour__img-island")
    div(class="tour__price tour__price-island")
      p(class="tour__value tour__value-island") от 140 715 Р
  p(class="tour__country tour__country-island") исландия
  h3(class="tour__name tour__name-island") Майские каникулы в Исландии
  p(class="tour__route tour__route-island") Рейкьявик — Тингвеллир — Гюдльфосс — Скафтафедль — Сельяландсфосс — Скоугафосс — Йёкюльсаурлоун — Голубая Лагуна — Снайфельсйёкутль — Arnarstapi — Рейкьявик
  p(class="tour__duration tour__duration-island") 8 дней / 7 ночей     Русский язык 27.04.19 - 04.05.19
  div(class="tour__stock tour__stock-off")
    p(class="tour__stock-value")
