.menu {
  a {
    display: block;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 23px;
  cursor: pointer;
  background: none;
  border: none;
  width: auto;
  height: auto;
  box-shadow: none;
}
.menu__line {
  width: 30px;
  height: 5px;
  background: #000000;
  margin-top: 4px;
}
