fieldset.communication
    legend.communication__legend 
      span.communication__title Удобный сбособ связи
    ul.communication__list
      li.communication__item
        span(class="communication__label") viber
        br
        label(class="communication__checkbox-label" for="viber")
          input(class="communication__checkbox" type="checkbox" id="viber")
          .communication__checkbox-new
      li.communication__item    
        span(class="communication__label") whatsupp
        br
        label(class="communication__checkbox-label" for="whatsupp")
          input(class="communication__checkbox" type="checkbox" id="whatsupp")
          .communication__checkbox-new
      li.communication__item 
        span(class="communication__label") почта
        br
        label(class="communication__checkbox-label" for="email")
          input(class="communication__checkbox" type="checkbox" id="email")
          .communication__checkbox-new
      li.communication__item
        span(class="communication__label") телефон
        br
        label(class="communication__checkbox-label" for="phonechek")
          input(class="communication__checkbox" type="checkbox" id="phonechek")
          .communication__checkbox-new
