@import '../../sass/mixins.scss';
.communication {
  width: 45%;
}
.communication__title {
  @extend %inputTitle
}
.communication__list {
  display: flex;
  flex-direction: row;
}
.communication__label {
  @extend %label
}
.communication__checkbox {
  display: none;
}
.communication__checkbox-label {
  //background-image: url('/dist/assets/img/Vector.svg');
  display: block;
  width: 40px;
  height: 40px;
  //background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
.communication__checkbox:checked + .communication__checkbox-new::after{
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
.communication__checkbox-new {
  width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #222;
    margin-right: 9px;
    position: relative;
    flex-shrink: 0;
}
.communication__checkbox-new::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  //background: #2f4857;
  background-image: url('/dist/assets/img/Vector.svg');
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}




