fieldset.communication
    legend.communication__legend 
      span.communication__title Удобный сбособ связи
    ul.communication__list
      li.communication__item
        span(class="communication__label") viber
        br
        label(class="communication__checkbox-label" for="viber")
          input(class="communication__checkbox" type="checkbox" id="viber")
          .communication__checkbox-new
      li.communication__item    
        label(class="communication__label") whatsupp
        br
        input(class="communication__checkbox" type="checkbox")
      li.communication__item 
        label(class="communication__label") почта
        br
        input(class="communication__checkbox" type="checkbox")
      li.communication__item
        label(class="communication__label") телефон
        br
        input(class="communication__checkbox" type="checkbox")
