fieldset.data
  ul.data__list
    li.data__item
      label(class="data__checkbox_label" for="data")
        input(class="data__checkbox" type="checkbox" id="data")
        .data__checkbox-new
      .date__desc
        p.data__title Получать свежие предложения по электронной почте
        p.data__text Каждую неделю мы делаем для вас обзор лучших экспедиций, статей и лайфхаков для путешественников. Если вдруг вам не понравится, вы сможете отписаться в любой момент.
    li.data__item
      label(class="data__checkbox_label" for="personal")
        input(class="data__checkbox" type="checkbox" id="personal")
        div(class="data__checkbox-new data__checkbox-new-red")
      .date__desc
        p.data__title С обработкой своих персональных данных согласен. 
          span.data__red *
        p.data__text Отправляя заявку я подтверждаю согласие с условиями Пользовательского соглашения     
