form.form
  .form__info
    include ../user/user.pug
    include ../travel/travel.pug
  .form__checkbox
    include ../communication/communication.pug
    include ../about/about.pug
  .form__consent
    include ../data/data.pug
  .form__field
    span.form__red *
    span.form__text Поля, которые надо обязательно заполнить
  .form__submit
    include ../submit/submit.pug
